form {
    border: 1px solid black;
    width: 20%;
    margin: auto;
    height: 30vh;
    margin-top: 10%;
    border-radius: 10px;
    h2 {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 50px;
    }

    div {
        input{
            width: 50%;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
            // background-color: red;
        }
        button {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
            display: block;
            margin: auto;
            width: 20%;
            // background-color: red;
        }
    }
}